@model ArticleList.Models.CommonModels.PagingInfo

<nav aria-label="...">
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            @if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a asp-controller="AdminArticles" asp-action="Articles" asp-route-Page="@i" asp-route-Category="@Model.CategoryEnTitleForLink" >
                        <span class="page-link">
                            @i
                        </span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-controller="AdminArticles" asp-action="Articles" asp-route-Page="@i" asp-route-Category="@Model.CategoryEnTitleForLink" class="page-link">
                        @i
                    </a>
                </li>
            }
        }
    </ul>
</nav>