@*@model BizMall.ViewModels.AdminCompanyArticles.ArticleViewModel*@

@{ 
    Random rnd = new Random();
}

<div id="kwsForTagCloud" style="text-align: center;margin-top:10px;">
    @foreach (var item in ViewBag.Kws)
    {
        <a asp-controller="Home" asp-action="SearchKwArticles" asp-route-kw="@item.kw" style="font-size:@rnd.Next(13, 24)px;">@item.kw</a>
    }
</div>
























