@using BizMall.Models.CompanyModels;
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>MyShopMall</h2>

<div class="row">
    <div class="col-md-3">
        <h3>PROFILE</h3>
        <a asp-controller="AdminProfile" asp-action="EditProfile">Редатировать профиль</a>
    </div>

    <div class="col-md-3">
        @{
            if (ViewData["Shop"] != null)
            {
                var Company = (Company)ViewData["Shop"];
                <h3>
                    @Html.Raw(Company.Title)
                </h3>
            }
            else {
                @Html.Raw("<h3>SHOP</h3>");
            }
        }
         <a asp-controller="AdminShop" asp-action="AdminShopGoods">Перейти к управлению</a>
    </div>
    <div class="col-md-3">
        <h3>PURCHASES (viewed positions)</h3>

    </div>
</div>
