@{
    Layout = "_AboutLayout";
}

<div class="row">
    <div class="col-md-8">
        <h2>О проекте</h2>

        <p>
            На BuisnessFace.ru Вашему внимаю предлагаются статьи о знаковых фигурах российского бизнеса и не только.
        </p>

        <p>
            Здесь Вы можете найти интереснейшие статьи о предпринимателях из разных отраслей экономики от известных изданий таких как РБК, Forbes и др.
        </p><p>
            Мы оформили удобные аннотации к каждой статье, для того чтобы Вам было удобней ориентироваться в содержании.
        </p><p>
            Для Вас публикуются ссылки только на качественный материал от проверенных источников и всемирно известных информациооных агентств.
        </p><p>
            Для Вас внимательнейшим образом отслеживается качество материалов.
        </p><p>
            Предлагаем Вам ознакомится с процедурами ведения бизнеса, внутренней организацией предприятий из различных отраслей, невероятно интересные бизнес кейсы - с чего начинали разные предприниматели и чего достигли.
        </p><p>
            Вы найдете множество бизнес идей, мотивацию для достижения своих целей!
        </p><p>
            Мы не обошли вниманием и неудачи, которые неизбежно предследуют тех кто стремится наверх - учитесь на чужих ошибках.
        </p>
        <p>
           Читайте о том, как делать бизнес, чтобы стать его Лицом!
        </p>
        <p style="font-style:italic;">
            С Уважением, команда BuisnessFace.ru
        </p>
</div>
</div>
