<div class="col-xs-12 col-sm-9">
    <!--СТАТЬЯ-->
    @await Component.InvokeAsync("ArticleDetailsTile", new { avm = ViewBag.ArticleVM })    
    
    <!--ПОХОЖИЕ СТАТЬИ-->    
    @{
        int numOfRows = 0;
        int anum = 0;//номер текущей выводимой статьи
        double acount = ViewBag.SimilarArticlesVM.Count;
        if (acount == 1)
        {
            numOfRows = 1;
        }
        else
        {
            //int tmp = Convert.ToInt32(acount / 2);
            //int asdf = tmp;
            numOfRows = (Convert.ToInt32(acount / 2) % 2 == 0) ? (Convert.ToInt32(acount / 2)) : (Convert.ToInt32(acount / 2) + 1);////количество рядов
        }
    }

    @if (acount > 0)
    {
        <span style="font-size:28px;">Еще по теме:</span>
        <br />
        <br />
    } 

    @for (int rownum = 0; rownum < numOfRows; rownum++)
    {
        <div class="row">
            @{
                    int iacount = ViewBag.SimilarArticlesVM.Count;
                    int ainrow = ((iacount - anum) >= 2) ? 2 : (iacount - anum); //количество элементов в ряду
            }
            @for (int j = 0; j < ainrow; j++, anum++)
            {
                <div class="col-xs-12 col-sm-6">
                    @await Component.InvokeAsync("SimilarArticleDetailsTile", new { avm = ViewBag.SimilarArticlesVM[anum] })
                </div>
            }
        </div>
    }
</div>

<div class="col-xs-12 col-sm-3">
    @await Component.InvokeAsync("TagCloud", null)


    </br>
    </br>
    </br>
    </br>
    </br>
    <hr />
    <div style="text-align:center;">
        <span style="font-size:15px; font-weight:bold; color:#808080;">Наши партнеры:</span>
        <br />
        <br />
        <a class="btn btn-info" target="_blank" href="http://www.buisnessdev.ru">BuisnessDev.ru</a>
        <hr />
    </div>
</div>





          



